<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-laugh-wink"></i>
      </div>
      <div class="sidebar-brand-text mx-3">Cursos</div>
    </a>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
      <a class="nav-link collapsed" routerLink='/system/users'>
        <i class="fas fa-fw fa-cog"></i>
        <span>Usuarios</span>
      </a> 
      <a class="nav-link collapsed" routerLink='/system/participants'>
        <i class="fas fa-fw fa-cog"></i>
        <span>Participantes</span>
      </a>  
      <a class="nav-link collapsed" routerLink='/system/course'>
        <i class="fas fa-fw fa-cog"></i>
        <span>Cursos</span>
      </a> 
      <a class="nav-link collapsed" routerLink='/system/place'>
        <i class="fas fa-fw fa-cog"></i>
        <span>Lugares</span>
      </a>       
    </li>    
  </ul>
